* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    height: 100vh;
    display: flex;
}

.login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login__container form {
    margin: 0.75rem;
    width: 20%;
}

.login__container h1 {
    font-size: 2rem;
}

.login__container input[type="text"], .login__container input[type="password"] {
    margin: 0.75rem 0;
    width: 100%;
    padding: 0.5rem;
}

.login__container input[type="submit"] {
    margin: 0.75rem 0;
    width: 100%;
    padding: 0.5rem;
}