<!DOCTYPE html>
<html>
  <head>
    <title>Admin Portal</title>
    <link rel='stylesheet' href='/stylesheets/blog/admin/style.css' />
  </head>
  <body>
    <div class="login__container">
        <h1>Admin Login</h1>

        <form action="/blog/wp-admin" method="post">
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </div> 
  </body>
</html>
