<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Success Work</h1>
    <p>Thank you for patronizing us</p>
    <%= query %>
  </body>
</html>
