<!DOCTYPE html>
<html>
  <head>
    <title>Create Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Create a blog</h1>

    <form action="/blog/create" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="content">Content:</label><br>
        <textarea type="text" id="content" name="content"></textarea><br><br>
        <input type="submit" value="Submit">
    </form> 
  </body>
</html>
